.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;

}
.boxes {
    border: 100% dashed rgb(195, 48, 195); 
width: 90px;
height: 90px;
text-align: center;
font-size: 30pt;
color: bisque;
margin-left: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
   
#box1 {background-color: red; margin-right: 20%;}
#box2 {background-color: orange;}
#box3 {background-color: yellow; margin-left: 20%;}
#box4 {background-color: green;}
#box5 {background-color: blue; margin-right: 20%;}
#box6 {background-color: indigo;}
#box7 {background-color: violet; margin-left: 20%;}
#box8 {background-color: pink; margin-left: 40%;}

.nav    {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-style: italic; color: darksalmon;
}